<!DOCTYPE html>
	<html ng-app="todoApp">
	<head>
		
		<title>Angular $http</title>
        <script src="http://code.angularjs.org/1.3.0/angular.min.js"></script>
        <script src="angular.js"></script>
    </head>    
    
    <body>

        <div class="row">
    <div class="col-md-12" ng-repeat="todo in todos">
        {{todo.text}}
        
    </div>
    
</div>
    
    
    <script>
'use strict';

/**
 * @ngdoc function
 * @name joeApp.controller:HoraceCtrl
 * @description
 * # HoraceCtrl
 * Controller of the joeApp
 */
angular.module('todoApp')
  .controller('MainCtrl', function ($scope,http) {
    $scope.todos = [];
    $http.get('/api/v1/todo').success(function (data){
        $scope.todos = data;
    });
   
  });

    </script>

	</body>
	</html>	