<!DOCTYPE html>
<html ng-app="">
  <head>
     <script src="http://code.angularjs.org/1.3.0/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script type="text/javascript" src="angular.js"></script>
     <script src="http://code.angularjs.org/1.3.0/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>

    <section ng-init="tab = 1">
      <ul class="nav nav-pills">
        <li> <a href ng-click="tab = 1">Description</a> </li>
        <li> <a href ng-click="tab = 2">Specifications</a> </li>
        <li> <a href ng-click="tab = 3">Reviews</a> </li>
      </ul>
{{ tab }}
      
    </section>
  
  </body>
</html>
