<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>



  <style>
    span{
      padding: 3px; border: 3px ridge;
      cursor: pointer; width: 100px; display: inline-block;
      font: bold 18px/22px Georgia; text-align: center;
      color: white; background-color: blue; 
    }
    label{
      padding: 2px; margin: 5px 10px; font: 15px bold;
      display: inline-block; width: 50px; text-align: right;
    }
    .lList{
      vertical-align: top;
      display: inline-block; width: 130px;
    }
    .cInfo{
      display: inline-block; width: 175px;
      border: 3px blue ridge; padding: 3px;
    }
  </style>
  

    <div ng-app="polarisApp">
<h2>Custom Events in Nested Controllers</h2>

<div ng-controller="Characters">
    <div class="lList"> <span ng-repeat="name in names" ng-click="changeName()">{{name}}</span>

    </div>
    <div class="cInfo">
        <div ng-controller="Character">
            <label>Name:</label>{{currentName}}
            <br>
            <label>Race:</label>{{currentInfo.race}}
            <br>
            <label>Weapon:</label>{{currentInfo.weapon}}
            <br> <span ng-click="deleteChar()">Delete</span>

        </div>
    </div>
</div>
  

